<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=LXGWenKai&display=swap" rel="stylesheet"> <!-- 引入字体 -->
    <style>
        body {
            font-family: 'LXGWenKai', sans-serif; /* 设置字体 */
            display: flex;
            flex-direction: column; /* 使内容垂直排列 */
            justify-content: center; /* 垂直居中 */
            align-items: center; /* 水平居中 */
            min-height: 100vh; /* 设置最小高度为视口高度 */
            background-color: #000000; /* 设置背景颜色 */
			color: white; /* 设置字体颜色为白色 */
        }
        .content {
            max-width: 800px; /* 设置内容最大宽度 */
            width: 100%; /* 容器宽度100% */
            text-align: left; /* 正文左对齐 */
            flex-grow: 1; /* 使内容区域占据剩余空间 */
            padding: 20px; /* 添加内边距以保持内容不贴边 */
        }
        .centered {
            text-align: center;
        }
        .paragraph {
            text-indent: 2em; /* 缩进2个字符 */
            margin: 0; /* 去掉段落的默认外边距 */
        }
       
    </style>
</head>


<body>
    <h1>辣妹</h1>
    <div class="content" id="content">
        <div class="page active">
        <h2 class="centered"><p class="paragraph">第一卷 第一章 惩罚游戏的告白</p></h2>
    	<p class="paragraph">几乎所有同学都跑去唱卡拉OK，空荡荡的教室里面只剩女生的声音回荡着。</p>
		<p class="paragraph">「好，七海你输了。所以七海必须接受惩罚游戏。」</p>
		<p class="paragraph">「惩罚游戏！惩罚游戏！太好了，幸好要被惩罚的人不是我！」</p>
		<p class="paragraph">「不会吧～我吗？」</p>
		<p class="paragraph">位居校园金字塔顶端，可以说是阳光外向的化身，人长得甜美可爱，早已经可以归类为人生胜利组的辣妹型女孩子们，居然特地在放学后留在教室打扑克牌。</p>
		<p class="paragraph">她们看起来也不像是在赌博，单纯只是说好输家必须接受惩罚、玩玩游戏而已。尽管她们打扮得花枝招展，在这方面还是懂得拿捏分寸的样子，我不禁有些佩服。</p>
		<p class="paragraph">我……帘舞阳信只不过是偶然撞见这个场面的同班同学而已。我跟她们没有任何直接的交集。</p>
		<p class="paragraph">我不是为了偷听才跑回教室的，我之所以回来是因为有东西忘记带走，才无意间撞见留在教室的她们……不过她们完全没有注意到平常个性就很阴沉内向，没什么存在感的我。</p>
		<p class="paragraph">话说回来，我以为她们不去唱卡拉OK是因为有什么重要的事情，结果居然只是打输了必须接受惩罚的扑克牌，这活动也太健全了吧。不过，如果只是想玩惩罚游戏，她们也可以用唱卡拉OK的分数来比赛不是吗？</p>
		<p class="paragraph">算了，反正不干我的事。拿完东西就回家吧。其实我忘记带走的也不是什么大不了的东西，只是铅笔盒而已。</p>
		<p class="paragraph">我从书桌抽屉拿出铅笔盒放进书包后，准备直接离开教室。她们三个继续闲聊，还是没有注意到我的存在。</p>
		<p class="paragraph">毕竟我的座位在后面，而且教室的门一直都是开着的，我进来的时候没有制造出任何声响。不过，考虑到她们讲话的音量那么大，就算教室的门本来是关着的，我开门的声音也会被她们的音量盖过吧。</p>
		<p class="paragraph">「那么，关于要接受什么样的惩罚嘛……就决定是告白吧！明天放学后，七海去向没有交集的男生告白！」</p>
		<p class="paragraph">「哦～听起来很有意思耶！用告白当惩罚，这游戏真的百玩不腻！」</p>
		<p class="paragraph">「咦……？用告白当惩罚……？」</p>
		<p class="paragraph">被宣告必须接受惩罚游戏的那个女生，好像是叫七海……对，是茨户七海的样子。茨户同学的口气听起来百般不愿，明明穿着特别短的裙子，却盘腿坐在桌子上。站在正面的话，应该可以清楚看见她的秘密花园吧。我咬牙忍耐想要绕到她前面去一探究竟的冲动。</p>
		<p class="paragraph">即便是边缘人也是有欲望的，会产生这种念头也是无可奈何的事情。可是我不会真的付诸行动啦。</p>
		<p class="paragraph">「用告白当惩罚是在玩弄他人的感情，这种行为一点都不可取！告白不应该当作儿戏……！除非是自己喜欢的对象，否则……」</p>
		<p class="paragraph">「你每次话都说得那么好听，可是我们三个里面没有男朋友的就只剩你而已了喔！」</p>
		<p class="paragraph">茨户同学没有男朋友吗？我还以为她们三个早就都是死会了呢。</p>
		<p class="paragraph">话说回来，我以为辣妹会很爽快地接受告白这种惩罚游戏，没想到茨户同学还挺讲究常识的，说的话非常有道理。</p>
		<p class="paragraph">「对啊对啊，明明你长得比我们两个都可爱，而且经常有人跟你告白，可是你全部都拒绝了对吧？」</p>
		<p class="paragraph">「呜……因为我觉得男生有点恐怖啊……他们每个人告白的时候都盯着我的身体……」</p>
		<p class="paragraph">她会怕男生？这个事实也挺教人意外的。说到这个，之前拒绝和男生去唱歌时我看到她露出松了一口气的表情，难道不是我的错觉？</p>
		<p class="paragraph">茨户同学的那两个朋友……我忘记她们叫什么名字了……用担心的口吻向她如此说道后，茨户同学语塞了。</p>
		<p class="paragraph">茨户同学，不要回答到一半语塞啊，你的心态才是正确的。不要认输，加油。对茨户同学稍微刮目相看的我在心中默默支持她。不过我只会在心中默默支持而已，不会实际为她加油打气。</p>
		<p class="paragraph">「七海真的很不会跟男生相处呢。所以你就找个看似人畜无害的男生告白，至少要跟他交往一个月的时间！这就是对你的惩罚。」</p>
		<p class="paragraph">「咦～……？至少一个月吗～……？」</p>
		<p class="paragraph">「什么样的契机都好，总之你得先习惯和男生相处才行。我们真的很放心不下你耶……很怕你继续这样下去会被奇怪的人荼毒。都快担心死了。」</p>
		<p class="paragraph">那两个朋友似乎是真的还满担心茨户同学的样子。可是我觉得她们好像搞错方向了。</p>
		<p class="paragraph">话说，我不知不觉变成真的在偷听了。因为我实在很好奇茨户同学会做出什么样的结论，没办法就这样一走了之。幸运的是，她们并没发现我在偷听。怎么办呢？</p>
		<p class="paragraph">「对啊，总之先挑个草食系或绝食系的男生就对了，就算你们两个单独相处，也不用怕他会突然扑上来把你吃掉。」</p>
		<p class="paragraph">「基本上这只是惩罚游戏，你不需要勉强自己一直跟对方交往下去；相反的，如果你想一直对方在一起，那也没关系喔。不过，就算后来你们分手了，只要对方不知道你是因为惩罚游戏才跟他在一起，他应该也不会受伤太严重吧？或者说，就算只有短短一个月，能被七海告白和交往肯定会开心得要死！我们也不会大嘴巴告诉对方这只是惩罚游戏！！」</p>
		<p class="paragraph">另外两人兴致勃勃地不断怂恿茨户同学。</p>
		<p class="paragraph">如果可以在不知情的状况下跟茨户同学交往一个月的话，应该不会觉得受伤吧？说不定还会觉得自己赚到了。</p>
		<p class="paragraph">不过，她们可曾想过其他男生会怎么看待被茨户同学告白的那个人的问题吗？</p>
		<p class="paragraph">茨户七海。</p>
		<p class="paragraph">我一直觉得这个名字很耳熟，努力回想了一下后，我终于想起了她的事迹。她就是传说中击沉……轰沉……炸沉了无数帅哥的那个女生。</p>
		<p class="paragraph">她的事迹有名到连我这个边缘人都知晓，所以和她交往的人肯定会被那些惨遭拒绝的帅哥们用参杂了嫉妒与羡慕等感情的眼神检视。</p>
		<p class="paragraph">假如那个人是我的话，我肯定承受不了那股压力。</p>
		<p class="paragraph">我不只会紧张到胃穿孔，而且千疮百孔到像蜂巢一样，身体从流汗变成了喷胃液，最后整个人融化消失。</p>
		<p class="paragraph">虽然我只是在开玩笑，不过要当茨户同学的男朋友门槛就是这么高。</p>
		<p class="paragraph">即使不知道那个会同时尝到天国与地狱的滋味，就某方面来说颇令人羡慕，可是又只能对他说一句请节哀顺变的男人到底是谁……反正跟我也没有关系啦。</p>
		<p class="paragraph">总之，那个老兄就在我看不到的地方好好加油吧。</p>
		<p class="paragraph">拿告白当惩罚游戏的事，还有交往一个月的事。虽然都被我不小心偷听到了，不过我会把这些事情当作秘密收藏在自己的内心深处。</p>
		<p class="paragraph">当我下定决心，准备停止偷听且神不知鬼不觉地潇洒离开时，飘进我耳里的某句话让我浑身僵住了。</p>
		<p class="paragraph">「就这么决定了……七海你明天就去跟班上看起来最老实的帘舞阳信告白吧！！」</p>
		<p class="paragraph">是我的错觉吗？我好像听到了一个非常耳熟的名字。</p>
		<p class="paragraph">「帘舞啊……如果是他的话……嗯……好……我去试试看……！」</p>
		<p class="paragraph">这样啊，原来那个令人羡慕又同情的老兄叫帘舞阳信吗？这名字我好像听过。是个感觉和我很亲近又非常有亲切感的名字哪。那个老兄肯定跟我很合。</p>
		<p class="paragraph">……不对，甭说我们班上了，我们学校有跟我同名同姓的人吗？没有吧。嗯，现在不是逃避现实的时候了。</p>
		<p class="paragraph">不好意思……我人就在这里耶！你们讨论的事情我全部都听得一清二楚耶！</p>
		<p class="paragraph">咦？明天茨户同学要跟我告白吗？为了接受惩罚？</p>
		<p class="paragraph">……我是不是必须先做好心理准备呢？</p>
		<p class="paragraph">「……不过……要怎么告白才好啊？」</p>
		<p class="paragraph">「嗯？……就把他叫到校舍后面说你喜欢他不就搞定了？」</p>
		<p class="paragraph">「好像少女漫画喔～七海你加油喔～♪」</p>
		<p class="paragraph">「……对了，你们两个当初是怎么跟男朋友告白的？」</p>
		<p class="paragraph">后来，为了避免被讨论起告白的那三个人发现我在偷听，我蹑手蹑脚地离开了。先前听到的对话一直在我的脑海里盘旋，我的心情变得十分烦躁，和平常判若两人。</p>
		<p class="paragraph">幸好回家时家里没有其他人，没人看见我心神不宁的样子。</p>
    </div>
</body>
</html>
